.load-more {
  display: block;
  margin: 20px auto;
  padding: 10px;
  color: #fff;
  background-color: rgb(109, 109, 255);
  border-radius: 2px;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  transition: box-shadow 0.2s, opacity 0.2s;

  &:hover {
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.6);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &.hidden {
    display: none;
  }
}
